@charset 'utf-8';
/* Copyright 2011 Designfever. All Rights Reserved. */

/* ***************  global *************** */
html, body {margin:0; padding:0; font-family:'dotum'; width:100%; height:100%; overflow:hidden;}
* {box-sizing: border-box;}

/*
	px to % conversions
	-------------------
	px	|	%
	-------------------
	9	|	70
	10	|	77
	11	|	85
	12	|	93
	13	|	100
	14	|	108
	15	|	116
	16	|	123.1
	17	|	131
	18	|	138.5
	19	|	146.5
	20	|	153.9
	21	|	161.6
	22	|	167
	23	|	174
	24	|	182
	25	|	189
	26	|	197
	27	|	204
	28	|	212
	29	|	219
	30	|	227
	31	|	234
	32	|	242
*/

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/*  ie-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* ie-mac */
.none {display:none;}
.floatl {float:left;} 
.floatr {float:right;}
.pos_a {position:absolute;}
.pos_r {position:relative;}


/* *********** other ********** */
::selection {background:#ffde00; color:#000;}
.effect {background-color:#000; filter:Alpha(opacity=35); opacity:0.3; -moz-opacity:0.3;}
summary { display:none}
/* link */
a { text-decoration:none}
a:link {text-decoration:none} 
a:visited {text-decoration:none} 
a:active {text-decoration:none} 
a:hover {text-decoration:none}

/* image */
img {border:0; vertical-align:top}

/* define */
dl, dt, dd {margin:0px; padding:0px;} 

/* sentence */
div, h2{padding:0; margin:0;}
p {margin:0px; padding:0px}

/* list */
ul, ol {list-style-type:none; margin:0px; padding:0px; }

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; color:#5E5E5E; cursor:default; font-size:100%;}
select {font-size:100%; font-family:"arial","dotum", "sans-serif"; background:#fff; vertical-align:middle; height:20px; letter-spacing:0px}
legend {display:none;}
fieldset {margin:0; padding:0; border:none;}

/* align */
.inline {display:inline;}

.textl {text-align:left;}
.textc {text-align:center; margin:0 auto;}
.textr {text-align:right;}

/* table */ 
table {margin:0px; padding:0px; border-spacing:0;}
td {margin:0px; padding:0px; font-size:100%; color:#777777;}
.notable{border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0 solid;}
th {  font-weight:normal;}
/* h */
h1, h2, h3, h4, h5, h6, h7 { margin:0; padding:0;  font-weight:normal;}
strong, b {  font-weight:normal;}


@charset 'utf-8';

@font-face{ 
	font-family: 'h-lt';
	src: url('../font/helveticaneueltpro-lt-webfont.eot');
	src: url('../font/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/helveticaneueltpro-lt-webfont.woff') format('woff'),
	     url('../font/helveticaneueltpro-lt-webfont.ttf') format('truetype'),
	     url('../font/helveticaneueltpro-lt-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'h-lth';
	src: url('../font/helveticaneueltpro-th-webfont.eot');
	src: url('../font/helveticaneueltpro-th-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/helveticaneueltpro-th-webfont.woff') format('woff'),
	     url('../font/helveticaneueltpro-th-webfont.ttf') format('truetype'),
	     url('../font/helveticaneueltpro-th-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'h-rm';
	src: url('../font/helveticaneueltpro-roman-webfont.eot');
	src: url('../font/helveticaneueltpro-roman-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/helveticaneueltpro-roman-webfont.woff') format('woff'),
	     url('../font/helveticaneueltpro-roman-webfont.ttf') format('truetype'),
	     url('../font/helveticaneueltpro-roman-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'it-bk';
	src: url('../font/itcavantgardestd-bk-webfont.eot');
	src: url('../font/itcavantgardestd-bk-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/itcavantgardestd-bk-webfont.woff') format('woff'),
	     url('../font/itcavantgardestd-bk-webfont.ttf') format('truetype'),
	     url('../font/itcavantgardestd-bk-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'it-bd';
	src: url('../font/itcavantgardestd-bold-webfont.eot');
	src: url('../font/itcavantgardestd-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/itcavantgardestd-bold-webfont.woff') format('woff'),
	     url('../font/itcavantgardestd-bold-webfont.ttf') format('truetype'),
	     url('../font/itcavantgardestd-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'it-md';
	src: url('../font/itcavantgardestd-md-webfont.eot');
	src: url('../font/itcavantgardestd-md-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/itcavantgardestd-md-webfont.woff') format('woff'),
	     url('../font/itcavantgardestd-md-webfont.ttf') format('truetype'),
	     url('../font/itcavantgardestd-md-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'it-xlt';
	src: url('../font/itcavantgardestd-xlt-webfont.eot');
	src: url('../font/itcavantgardestd-xlt-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/itcavantgardestd-xlt-webfont.woff') format('woff'),
	     url('../font/itcavantgardestd-xlt-webfont.ttf') format('truetype'),
	     url('../font/itcavantgardestd-xlt-webfont.svg#webfont') format('svg');
}

